/*When hovering over the search button it will move up*/
button {
    transition: transform 250ms, opacity 400ms;
}

button:hover {
    transform: scale(1.2);
}

#search-button {
    transition: transform 250ms, opacity 400ms;
}

#search-button:hover {
    transform: scale(1.2);
}

#div0,
#div1,
#div2,
#div3,
#div4,
#div5,
#div6,
#div7,
#div8 {
    background-color: white;
    margin: 1.5rem;
    color: black;

}

h2 {
    font-size: x-large;
    font-weight: bold;
    color: white;
    background-color: teal;
    padding: 4px;
}

h3 {
    font-size: large;
    font-weight: bold;
    padding: 10px;
    color:purple;
}

p {
    color: black;
    font-style:italic;
    padding: 10px;
}