/*When hovering over the search button it will move up*/
button {
    transition: transform 250ms, opacity 400ms;
}

button:hover {
    transform: scale(1.2);
}

.p-2 {
    transition: transform 250ms, opacity 400ms;
}

.p-2:hover {
    transform: scale(1.2);
}

#div0,
#div1,
#div2,
#div3,
#div4,
#div5,
#div6,
#div7,
#div8 {
    background-color: indigo;
    margin: 1.5rem;
}

h2 {
    font-size: x-large;
    font-weight: bold;
    color: white;
    background-color: teal;
}

h3 {
    font-size: large;
    font-weight: bold;
    color: yellow;
}

p {
    color: white;
}