/*When hovering over the search button it will move up*/
button {
    transition: transform 250ms, opacity 400ms;
}

button:hover {
    transform: scale(1.2);
}

#search-button {
    transition: transform 250ms, opacity 400ms;
}

#search-button:hover {
    transform: scale(1.2);
}

#div0,
#div1,
#div2,
#div3,
#div4,
#div5,
#div6,
#div7,
#div8 {
    border-radius: 8px;
    margin: 1.5rem;
    color: black;

}

h2 {
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    padding: 4px;
    padding-top: 1px;
    padding-bottom: 1px;
}

h3 {
    font-size: large;
    font-weight: bold;
    padding: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    color:purple;
}

h4 {
    font-weight: bold;
    padding: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
}

p {
    color: black;
    font-style:italic;
    padding: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.card-container {
    display: flexbox;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

@media screen and (max-width: 1280px) {
    
}